
<main class="container">
    <br />
    <p class="container notice"><%= notice %></p>

    <div class="row">
        <% @products.each do |product| %>

        <section class="col-4">
            <section class="card product-card">
                <section class="card-block">
                    <img class="card-img-top" src="http://placehold.it/250x250" alt="Card image cap">
                    <br/>
                    <br/>
                    <header class="card-title product-name">
                        <%= product.name %>
                    </header>
                    <br/>
                    <section class="card-text product-price">
                      <%= number_to_currency(product.price) %>
                    </section>
                    <br/>
                    <section class="card-text product-description">
                        <%= product.description.truncate(100) %>
                    </section>
                    <br />
                    <%= link_to 'More info', product_path(product), class: "btn btn-outline-primary" %>
                </section>
            </section>
        </section>
        <% end %>
    </div>
    <br/>
    <%= paginate @products %>
</main>
