<br />
<br />
<main class="container">
<p id="notice"><%= notice %></p>

<section class="row product-show">
        <section class="col-6">
            <img src="http://placehold.it/500x500" alt="Card image cap">
        </section>

        <section class="col-6">
            <section class="card product-card-page">
                <section class="card-block">
                    <header class="card-title product-name">
                        <h3><%= @product.name %></h3>
                    </header>
                    <br/>
                    <section class="card-text product-price">
                        <%= number_to_currency(@product.price) %>
                    </section>
                    <br/>
                    <section class="card-text product-description">
                        <%= @product.description %>
                    </section>
                    <br/>
                    <%= link_to 'Go Back', products_path, class: "btn btn-outline-primary" %>
                </section>
            </section>
          </section>
        </section>
</main>
